@keyframes slow-spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-slow-spin {
  animation: slow-spin 4s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  10% {
    transform: translate(2px, -2px) rotate(1deg);
  }
  20% {
    transform: translate(-2px, 3px) rotate(-1.5deg);
  }
  30% {
    transform: translate(3px, -3px) rotate(1.5deg);
  }
  40% {
    transform: translate(-3px, 2px) rotate(-1deg);
  }
  50% {
    transform: translate(2px, -3px) rotate(0.5deg);
  }
  60% {
    transform: translate(-2px, 2px) rotate(-0.5deg);
  }
  70% {
    transform: translate(3px, 3px) rotate(1deg);
  }
  80% {
    transform: translate(-3px, -2px) rotate(-1.5deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0.5deg);
  }
}
.floating-element {
  animation: float 30s ease-in-out infinite;
}
