.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  padding: 50px 100px;
  width: 200px;
  height: 200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
