.slide-in {
  position: fixed;
  top: 0;
  left: 50%;
  width: 300vw;
  height: 300vw;
  background: $color-white;
  z-index: 999;
}
.slide-out {
  position: fixed;
  top: 0;
  left: 50%;
  width: 300vw;
  height: 300vw;
  background: $color-white;
  z-index: 999;
  will-change: border-radius;
}
