.curve {
  .svg,
  .background {
    z-index: 800;
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: 0;
  }
  .svg {
    fill: $color-white;
  }
  .background {
    background-color: $color-white;
    transition: opacity 0s linear 0.1s;
  }
  .route {
    z-index: 900;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-align: center;
  }
}
