body {
  font-family: $font-space-grotesk;
  background: #0d0d0d;
  scrollbar-width: thin;
}

.background-wrapper {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: 100px 100px;
  background-position: center;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
}

// *::-webkit-scrollbar {
//   display: none;
// }
// * {
//   -ms-overflow-style: none;
//   scrollbar-width: none;
// }

.circle-1 {
  z-index: -1;
  position: fixed;
  top: -50vh;
  left: 0;
  transform: translateX(-50%);
  width: 150vw;
  height: 150vw;
  border-radius: 99999px;
  opacity: 0.25;
  background: radial-gradient(circle, #4200ffe1 0%, #4200ff00 70%);
}

.circle-2 {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(50%);
  width: 150vw;
  height: 150vw;
  border-radius: 99999px;
  opacity: 0.25;
  background: radial-gradient(circle, #ff007ae1 0%, #ff007a00 70%);
}

.circle-3 {
  z-index: -1;
  position: fixed;
  top: 50vh;
  left: 0;
  transform: translateX(-50%);
  width: 150vw;
  height: 150vw;
  border-radius: 99999px;
  opacity: 0.25;
  background: radial-gradient(circle, #0085ffe1 0%, #0085ff00 70%);
}

.circle-4 {
  z-index: -1;
  position: fixed;
  top: 100vh;
  right: 0;
  transform: translateX(50%);
  width: 150vw;
  height: 150vw;
  border-radius: 99999px;
  opacity: 0.25;
  background: radial-gradient(circle, #ff5c00e1 0%, #ff5c0000 70%);
}

.transition-smooth {
  transition:
    transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1),
    padding 0.8s;
  transform-origin: bottom;
}
