body {
  font-family: $font-space-grotesk;
  background: #0d0d0d;
  scrollbar-width: thin;
}

.background-wrapper {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: 100px 100px;
  background-position: center;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
}

*::-webkit-scrollbar {
  display: none;
}

.line-calendar {
  &::after {
    content: '';
    position: absolute;
    top: -200px;
    width: 1px;
    background-image: linear-gradient(transparent, white);
    height: 200px;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: -200px;
    width: 1px;
    background-image: linear-gradient(white, transparent);
    height: 200px;
  }
}

.card-event {
  .card-event-circle {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 0;
    width: 50vw;
    height: 50vw;
    aspect-ratio: 1/1;
    border-radius: 9999px;
  }
}
