.font-space-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.heading1,
.heading2,
.heading3,
.heading4,
.heading5 {
  font-family: $font-space-grotesk;
  text-transform: uppercase;
  font-weight: bold;
}
.heading1 {
  font-size: clamp(4rem, 6vw, 8rem);
  line-height: clamp(4rem, 6vw, 8rem);
}
.heading2 {
  font-size: clamp(2rem, 4.5vw, 6rem);
  line-height: clamp(2rem, 4.5vw, 6rem);
}
.heading3 {
  font-size: clamp(1.5rem, 4vw, 5rem);
  line-height: clamp(1.5rem, 4vw, 5rem);
}
.heading4 {
  font-size: clamp(1.4rem, 3.5vw, 4rem);
  line-height: clamp(1.4rem, 3.5vw, 4rem);
}
.heading5 {
  font-size: clamp(1.3rem, 3vw, 2rem);
  line-height: clamp(1.3rem, 3vw, 2rem);
}
.heading6 {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
.text {
  font-family: $font-space-grotesk;
  color: $color-white-opacity;
  text-transform: normal !important;
}
.text2 {
  font-family: $font-space-grotesk;
  color: $color-white;
  text-transform: normal !important;
}
.text-placeholder::placeholder {
  font-family: $font-space-grotesk;
  color: $color-white-opacity;
  text-transform: normal !important;
}

p {
  font-family: $font-space-grotesk;
}

.link {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 10px;
    opacity: 0;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    border-radius: 999px;
    background-image: url('/images/illustrations/background-text.jpg');
    background-position: center;
    background-size: 100% 100%;
    transition: $transition-default;
  }

  &:hover::after {
    top: 23px;
    opacity: 1;
  }

  &.active::after {
    top: 23px;
    opacity: 1;
    width: 16px;
  }
}

.wrapper-link:hover {
  .link::after {
    top: 23px;
    opacity: 1;
  }

  &.link.active::after {
    top: 23px;
    opacity: 1;
    width: 16px;
  }
}

.text-shadow {
  text-shadow: #00000031 0px 0px 8px;
}

.text-shadow-md {
  text-shadow: #00000031 0px 0px 12px;
}
.text-shadow-xl {
  text-shadow: #00000031 0px 0px 25px;
}

.bg-clip-text {
  background-image: url('/images/illustrations/background-text.jpg');
  background-position: center;
  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
